absl-py==1.2.0
adjustText==0.8
aiohttp==3.8.4
aiosignal==1.3.1
aniso8601==9.0.1
ansi2html==1.9.1
antlr4-python3-runtime==4.12.0
anyio==3.6.1
appdirs==1.4.4
apply-defaults==0.1.6
argilla==1.6.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.0
autopep8==2.0.2
Babel==2.10.3
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
bokeh==2.4.3
boto3==1.28.79
botocore==1.31.79
branca==0.6.0
builtwith==1.3.4
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.2.0
catboost==1.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
chart-studio==1.1.0
chess==1.10.0
chromadb==0.3.21
click==8.1.3
clickhouse-connect==0.5.22
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.5
colorcet==3.0.1
colorlover==0.3.0
commonmark==0.9.1
configparser==3.8.1
contextlib2==21.6.0
contourpy==1.0.5
convertdate==2.4.0
cryptography==40.0.2
cufflinks==0.17.3
cycler==0.11.0
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.5.7
datadotworld==1.8.5
datapackage==1.15.2
debugpy==1.6.6
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
distlib==0.3.6
distro==1.7.0
dm-tree==0.1.8
docopt==0.6.2
duckdb==0.7.1
edlib==1.3.9
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
execnet==2.0.2
executing==1.1.0
Farama-Notifications==0.0.4
fastapi==0.95.1
fastjsonschema==2.16.2
filelock==3.12.0
fire==0.5.0
flake8==5.0.4
Flask==2.2.3
Flask-RESTful==0.3.9
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.37.4
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
gast==0.4.0
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.49.1
gym-notices==0.0.8
gymnasium==0.28.1
h11==0.14.0
h5py==3.10.0
haversine==2.8.0
hijri-converter==2.2.4
hnswlib==0.7.0
holidays==0.20
holoviews==1.15.4
html5lib==1.1
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.14.1
idna==3.4
ijson==3.2.3
imageio==2.31.3
imageio-ffmpeg==0.4.9
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==4.13.0
iniconfig==1.1.1
ipaddr==2.2.0
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
isodate==0.6.1
itsdangerous==2.1.2
jax-jumpy==1.0.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.10
jsonlines==4.0.0
jsonpointer==2.4
jsonrpcclient==3.3.6
jsonrpcserver==4.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-ascending==0.1.23
jupyter-console==6.4.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-server==1.19.1
jupyter_client==7.3.5
jupyter_packaging==0.12.3
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.15.2
jupytext==1.14.1
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
langchain==0.0.153
lazy_loader==0.3
libclang==14.0.6
librosa==0.10.1
line-profiler==3.5.1
linear-tsv==1.1.0
lit==16.0.2
llvmlite==0.40.1
lockfile==0.12.2
loguru==0.6.0
lxml==4.9.1
lz4==4.3.2
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.1
mdurl==0.1.2
memory-profiler==0.60.0
MiniSom==2.3.1
mistune==2.0.4
ml-dtypes==0.2.0
monotonic==1.6
moviepy==1.0.3
mpld3==0.5.9
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.4
multidict==6.0.4
mypy-extensions==1.0.0
namex==0.0.7
nbclassic==0.4.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.4.12
notebook-shim==0.1.0
numba==0.57.1
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.2.5.6
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.2.142
nvidia-cuda-nvcc-cu11==11.8.89
nvidia-cuda-nvcc-cu12==12.2.140
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.2.140
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.2.140
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.4.25
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.8.103
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.3.141
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.5.2.141
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.2.141
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.16.5
nvidia-nvjitlink-cu12==12.2.140
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.1
olefile==0.46
openai==0.27.5
openapi-schema-pydantic==1.2.4
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
OSlash==0.6.3
outcome==1.3.0.post0
packaging==21.3
pandas==1.5.0
pandas-datareader==0.10.0
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parso==0.8.3
patsy==0.5.2
pdfminer.six==20221105
pep517==0.13.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.10.0
plotly==5.16.1
pluggy==1.0.0
pooch==1.7.0
posthog==3.0.1
proglog==0.1.10
progress==1.6
progressbar2==4.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.23.4
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py4j==0.10.9.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycodestyle_magic==0.5
pycparser==2.21
pycryptodome==3.17
pyct==0.5.0
pydantic==1.10.7
pydot==1.4.2
pydotplus==2.0.2
pydub==0.25.1
pyensae==1.3.967
pyflakes==2.5.0
pygam==0.9.0
pygame==2.5.2
pyglet==2.0.9
Pygments==2.13.0
PyMeeus==0.5.12
pynndescent==0.5.10
pypandoc==1.11
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyquickhelper==1.12.3806
pyquicksetup==0.2.4
pyrsistent==0.18.1
PySide2==5.15.2.1
PySide6==6.3.2
PySide6-Addons==6.3.2
PySide6-Essentials==6.3.2
PySocks==1.7.1
pytest==7.1.3
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-mnist==0.7
python-pptx==0.6.21
python-utils==3.5.2
python-whois==0.8.0
pytoml==0.1.21
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.0
redlines==0.4.2
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
retrying==1.3.3
rfc3986==1.5.0
rich==13.5.2
rich-click==1.6.1
rpy2==3.5.5
rsa==4.9
s3transfer==0.7.0
scikeras==0.12.0
scikit-fuzzy==0.4.2
scikit-image==0.21.0
scikit-learn==1.1.2
scipy==1.10.1
seaborn==0.12.0
selenium==4.15.2
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.98
session-info==1.0.0
setuptools-scm==7.0.5
shiboken2==5.15.2.1
shiboken6==6.3.2
simplegeneric==0.8.1
six==1.16.0
sklearn==0.0
sklearn-pandas==2.2.0
smopy==0.0.8
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.6
SQLAlchemy==2.0.11
stack-data==0.5.1
starlette==0.26.1
statsmodels==0.14.0
stdlib-list==0.9.0
sympy==1.11.1
tableschema==1.20.2
tabulate==0.9.0
tabulator==1.53.5
tdqm==0.0.1
tenacity==8.1.0
tensorboard==2.15.1
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorrt==8.5.3.1
termcolor==2.0.1
terminado==0.16.0
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2023.8.30
tiktoken==0.3.3
timebudget==0.7.1
tinycss2==1.1.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchvision==0.15.1
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
transformers==4.28.1
trio==0.23.1
trio-websocket==0.11.1
triton==2.0.0
typing-inspect==0.8.0
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
umap==0.1.1
umap-learn==0.5.3
unicodecsv==0.14.1
unstructured==0.6.1
urllib3==1.26.12
uvicorn==0.22.0
uvloop==0.17.0
watchfiles==0.19.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
websockets==11.0.2
Werkzeug==2.2.2
widgetsnbextension==3.6.1
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.0
xlwt==1.3.0
yarl==1.9.2
yellowbrick==1.5
zipp==3.8.1
zstandard==0.21.0
