traitlets==5.9.0
notebook==6.4.12
notebook-shim==0.1.0
jupyter==1.0.0
jupyter-ascending==0.1.23
jupyter-console==6.4.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.5.0
jupyter-server==1.19.1
jupyter_client==7.3.5
jupyter_packaging==0.12.3
jupyterlab==3.4.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.15.2
jupytext==1.14.1
nbconvert==7.0.0
nbformat==5.6.1
notebook==6.4.12
numpy==1.23.5
pandas==1.5.0
pandas-datareader==0.10.0
matplotlib==3.6.0
matplotlib-inline==0.1.6
seaborn==0.12.0
plotly==5.16.1
Werkzeug==2.2.2
dash==2.14.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
mpld3==0.5.9
